body {
  font-size: 16px;
  color: #fff;
  font-family: Verdana, sans-serif;
}
/** HEADER **/
#header-nav {
  background-color: #A9A9A9;
  border-radius: 0;
  border: 3px solid black;
}
.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: Verdana, serif;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle,.navbar-header .icon-bar{
	border: 1px solid black;
}
.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -40px;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}
#nav-list a:hover {
  background: #E7E7E7;
}
/*END HEADER*/

/* MAIN CONTENT */
#menu-categories-title{
	color: black;
	font-weight: bold;
	margin-bottom: 50px;
}

.box{
  padding: 6px;
  border: 3px solid black;
  border-collapse: separate;
  border-spacing: 15px 50px;
  background-color:grey;
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  position: relative;
}
.content{
  color: black;
  font-weight: bold;
}
.category-tile span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}
